<section class="section-profile">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="bg-banner w-100"></div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="user-image mt-4">
        <img *ngIf="!uploadedProfilePic" class="rounded-circle" millaHttpImage [url]="profilePic" alt="">
        <img *ngIf="uploadedProfilePic" class="rounded-circle" [src]="uploadedProfilePic" alt="">
        <div class="upload-image">
          <img src="/assets/images/icons/ic_camera.png" alt="" (click)="openShowMediaOptions(showMediaOptions)">
          <!-- <input type="file" name="myfile" (change)="uploadProfilePhoto($event)" /> -->
        </div>
      </div>
    </div>
    <div class="d-flex flex-column user-details p-2">
      <form [formGroup]='profileForm' class="d-flex flex-column">
        <div class="form-group">
          <label for="firstname"> First name</label>
          <small class="form-text  error-msg" *ngIf="profileForm?.get('firstname').errors?.required && profileForm?.get('firstname').touched">
            *Required</small>
          <input type="text" id="firstname" formControlName='firstname' class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="form-group">
          <label for="lastname"> Surname</label>
          <small class="form-text  error-msg" *ngIf="profileForm?.get('lastname').errors?.required && profileForm?.get('lastname').touched">
            *Required</small>
          <input type="text" class="form-control" id="lastname" formControlName='lastname'>
        </div>
        <div class="form-group">
          <label for="email"> Email</label>
          <small class="form-text  error-msg" *ngIf="profileForm?.get('email').errors?.pattern ">
            *Enter a valid email</small>
          <small class="form-text  error-msg" *ngIf="profileForm?.get('email').errors?.required && profileForm?.get('email').touched">
            *Required</small>
          <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="form-group">
          <label for="phone"> Phone number</label>
          <small class="form-text  error-msg" *ngIf="profileForm?.get('countryCode').errors?.required && profileForm?.get('countryCode').touched">
            *Required</small>
          <small class="form-text  error-msg" *ngIf="profileForm?.get('phone').errors?.required && profileForm?.get('phone').touched">
            *Required</small>
          <small class="form-text  error-msg" *ngIf="invalidPhoneNumberError">
            *Invalid phone number</small>
          <small class="form-text  error-msg" *ngIf="GetUserDetailsErrorStatus$ | async as errorStatus">
            {{errorStatus.message}}</small>
          <select formControlName="countryCode" class="form-control" (change)='countryCodeSelected($event.target)'>
            <option value="" selected disabled>Country Code</option>
            <option [value]="item?.code" *ngFor="let item of countriesCallingCodes">{{item.name}} +{{item.code}} </option>
          </select>
          <input type="text" class="form-control" id="phone" formControlName="phone">
        </div>
        <div class="form-group">
          <div id="recaptcha-identifier"></div>
        </div>
        <div class="form-group">
          <small class="form-text  error-msg" *ngIf="profileForm?.get('pin').errors?.pattern">
            Pin can be any 4 digit number except 0000, 1234, 1111, 1212</small>
          <small class="form-text  error-msg" *ngIf="profileForm?.get('pin').errors?.required && profileForm?.get('pin').touched">
            *Required</small>
          <label for="pin">Choose a pin number</label>
          <input type="password" class="form-control" id="pin" formControlName="pin" maxlength="4">
        </div>
        <div class="d-flex flex-column  align-items-center justify-content-center login-btns mt-4 mb-3">
          <button type="submit" class="btn btn-fb mt-1 w-100" (click)="submitProfileForm(otpModal)">
            Save &amp; continue
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

<ng-template #otpModal>
  <section class="d-flex flex-column justify-content-center align-items-center section-sms">
    <div class="bg-banner w-100"></div>
    <div class="otp-section">
      <div class="d-flex flex-column align-items-center my-4 px-2">
        <h5>
          Please enter the security code we sent
          <br> to the mobile phone {{profileForm?.value?.phone}}
        </h5>
      </div>
      <div class="d-flex flex-column align-items-center my-4 px-2">
        <label for="">Enter OTP</label>
        <form [formGroup]='otpGroup'>
          <div class="d-flex justify-content-center pb-4">
            <span class="form-group">
              <input type="text" formControlName="bOne" class="form-control" id='box1' maxlength="1" (keyup)='onKey($event)'>
            </span>
            <span class="form-group">
              <input type="text" formControlName="bTwo" class="form-control" id='box2' maxlength="1" (keyup)='onKey($event)'>
            </span>
            <span class="form-group">
              <input type="text" formControlName="bThree" class="form-control" id='box3' maxlength="1" (keyup)='onKey($event)'>
            </span>
            <span class="form-group">
              <input type="text" formControlName="bFour" class="form-control" id='box4' maxlength="1" (keyup)='onKey($event)'>
            </span>
            <span class="form-group">
              <input type="text" formControlName="bFive" class="form-control" id='box5' maxlength="1" (keyup)='onKey($event)'>
            </span>
            <span class="form-group">
              <input type="text" formControlName="bSix" class="form-control" id='box6' maxlength="1" (keyup)='onKey($event)'>
            </span>
          </div>
        </form>
        <span class="otp-text">
          Did receive OTP? Resend or change number.
        </span>
        <span> {{otpConfirmationStatus}}</span>
      </div>
      <div class="d-flex flex-column  align-items-center justify-content-center login-btns mt-5 mb-3">
        <button type="button" class="btn btn-fb mt-2" (click)="verifyOTP(otpModal)">
          Verify
        </button>
        <button type="button" class="btn btn-google mt-2">
          Cancel
        </button>
      </div>
    </div>

  </section>
</ng-template>
<ng-template #showMediaOptions>
  <video src="" id='videoPreview'></video>
  <canvas id="canvas"></canvas>
  <div class="preview-container">
    <img src="" id="photoPreview" alt="">
    <p class="uploadingStatus" *ngIf="uploadingStatus">{{uploadingStatus}}</p>
  </div>
  <button class="btn btn-lg btn-primary" (click)="openCamera()">camera</button>
  <button *ngIf="video" (click)="takePhoto()">Take photo</button>
  <button (click)="uploadImage()">Upload</button>
  <input type="file" name="myfile" (change)="uploadProfilePhoto($event)" />

</ng-template>