<section>
  <div class="bg-banner"></div>
  <div class="pin-section">
    <div class="d-flex flex-column align-items-center mt-5 mb-2 px-2">
      <h4>
        To continue to this network,
        <br> Please enter your Pin.
      </h4>
    </div>
    <div class="d-flex flex-column align-items-center mb-4 px-2">
      <form [formGroup]='pinGroup'>
        <div class="d-flex justify-content-center pb-4">
          <span class="form-group">
            <input type="text" autofocus="autofocus" formControlName="bOne" class="form-control" id='box1' maxlength="1" (keyup)='onKey($event)'>
          </span>
          <span class="form-group">
            <input type="text" formControlName="bTwo" class="form-control" id='box2' maxlength="1" (keyup)='onKey($event)'>
          </span>
          <span class="form-group">
            <input type="text" formControlName="bThree" class="form-control" id='box3' maxlength="1" (keyup)='onKey($event)'>
          </span>
          <span class="form-group">
            <input type="text" formControlName="bFour" class="form-control" id='box4' maxlength="1" (keyup)='onKey($event)'>
          </span>
        </div>
        <div>{{pinError}}</div>
        <span class="pin-text" (click)="resetPin()">
          Don&apos;t remember your Pin? Reset.
        </span>
        <div class="d-flex flex-column  align-items-center justify-content-center login-btns mt-5 mb-3">
          <input type="submit" value="Submit" class="btn btn-fb mt-2" (click)="verifyPIN()" />


        </div>
      </form>

    </div>

  </div>
</section>