<section class="section-login">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="bg-banner mt-4"></div>
    <div class="d-flex flex-column align-items-center my-4 px-2">
      <h6>Invite others to join network!</h6>
      <div class="d-flex flex-column justify-content-center mt-1 w-100">
        <button type="button" class="btn btn-success mt-2">
          INVITE MEMBERS
        </button>
      </div>
      <div class="d-flex flex-column text-center content-text mt-3 py-2">
        <span>Anyone you invite will be sent a unique invite to</span>
        <span>your new network</span>
      </div>
      <div class="d-flex flex-column justify-content-center mt-3 w-100">
        <button type="button" class="btn btn-fb mt-2">
          DONE, LETS GET STARTED
        </button>
      </div>
    </div>
  </div>
</section>