<section>
  <div class=" d-flex py-3 px-2 justify-content-between header">
    <div>
      <span class="py-2">CREATE SIGN</span>
    </div>
  </div>
  <div class="d-flex justify-content-center bg-image">
    <img src="assets/images/sign_logo.png" alt="sign_logo">
  </div>
  <form [formGroup]="signs" class="d-flex">
    <div class="col-6 video-sign">
      <label for="name">Sign Name</label>
      <input type="text" class="form-control" placeholder="Give your sign a name">
      <div class="video-upload d-flex justify-content-center align-items-center">
        <img src="assets/images/upload_logo.png" alt="upload_log">
      </div>
    </div>
    <div class="col-6 d-flex flex-column image-sign">
      <div class="d-flex">
        <div class="col-10 pl-0">
          <label for="name">Add Categories</label>
          <input [(ngModel)]="selected" placeholder="Add your categories" [typeahead]="states" class="form-control" formControlName="categories"
            (keyup.enter)="onSelect()">
          <!-- <input type="text" class="form-control" placeholder="Add your categories"> -->
        </div>
        <div class="">
          <button type="button" class="btn btn-primary" (click)="onSelect()">
            ADD
          </button>
        </div>
      </div>
      <div class="add d-flex flex-wrap">
        <div class="cat-list d-flex " *ngFor="let item of selectedItems; let i = index">
          <span class="cat-name">
            {{ item }}
          </span>
          <span class="ico-close" (click)="onDropItemDeleted(i)">
            <img src="assets/images/icons/ic_cancel.png" alt="ic_cancel">
          </span>
        </div>
      </div>
      <div class="image-upload d-flex flex-column">
        <span class="py-2">Suggested images</span>
        <div class="d-flex image-div">
          <div class="sugg-images" *ngFor="let number of [0,1,2,3,4,5,6,7,8,9]">
            <div>
              <img src="https://cdn.pixabay.com/photo/2018/03/06/21/09/easter-3204589_960_720.jpg" alt="">
            </div>
            <div class="image-suggetions">
              <label for="{{number}}-image" [ngClass]="{'checked': isChecked,'unChecked':!isChecked }" (click)="toggleChecked()">

              </label>
              <input type="checkbox" id="{{number}}-image" value="monday" checked="checked">
            </div>
          </div>
        </div>
        <span class="py-2">Upload image</span>
        <div class="d-flex flex-wrap">
          <div class="upload-image d-flex justify-content-center align-items-center">
            <img src="assets/images/icons/ic_add.png" alt="ic_add">
          </div>
          <div class="uploaded-images" *ngFor="let number of [0,1]">
            <img src="https://cdn.pixabay.com/photo/2018/03/06/21/09/easter-3204589_960_720.jpg" alt="">
            <div class="uploaded-images-close">
              <img src="assets/images/icons/ic_cancel.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end my-3">
        <button type="button" class="btn btn-primary w-50" routerLink='/dashboard/time-line'>
          Finish
        </button>
      </div>
    </div>
  </form>
</section>